<h2>Información de: <%= @family.nombre %></h2>
<p><%= @family.app %></p>
<%= button_to 'Editar', edit_family_path(id:@family.id),method: "get" %>
<%= button_to 'Eliminar', delete_family_path(id:@family.id), method: :delete %>
